

body {
   background-image: url("bg1.jpg");
   /*background-size: cover; */
   /*background-color: #cccccc;*/
   background-repeat: repeat;

   height: 100%;
}

p{
	font-family: arial;
	font-size: 20px;
	position: relative;
	left: 380px;
	top: 180px;
	background-color: white;
	width: 580px;

}

.poke{

width: 200px;
position: relative;
	left: 560px;
	top: 200px;

}

#pic{
	width: 500px;
	position: relative;
	left: 400px;

}